<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waypost.waypost.mapper.PhotoPostMapper">

    <resultMap id="PhotoPostResultMap" type="com.waypost.waypost.entity.PhotoPost">
        <id property="photoPostId" column="photo_post_id" />
        <result property="userId" column="user_id" />
        <result property="postText" column="post_text" />
        <result property="imgUrl" column="img_url" />
        <result property="cameraModel" column="camera_model" />
        <result property="locationAddress" column="location_address" />
        <result property="isLiked" column="is_liked" />
        <result property="likeCount" column="like_count" />
        <result property="latitude" column="latitude" />
        <result property="longitude" column="longitude" />
        <result property="location" column="location" typeHandler="com.waypost.waypost.mybatis.PointTypeHandler" />
        <result property="regDt" column="reg_dt" />
        <result property="updDt" column="upd_dt" />
        <association property="user" javaType="com.waypost.waypost.entity.User">
            <result property="email" column="email" />
            <result property="username" column="username" />
            <result property="profileImg" column="profile_img" />
        </association>
        <collection
                property="comments"
                ofType="com.waypost.waypost.entity.Comment"
                column="photo_post_id"
                select="com.waypost.waypost.mapper.PhotoPostMapper.getCommentsByPostIdAndUser"
        />
    </resultMap>

    <resultMap id="CommentResultMap" type="com.waypost.waypost.entity.Comment">
        <id     property="commentId" column="comment_id"/>
        <result property="photoPostId" column="photo_post_id"/>
        <result property="userId"      column="user_id"/>
        <result property="content"     column="content"/>
        <result property="regDt"       column="reg_dt"/>
        <result property="updDt"       column="upd_dt"/>
        <association property="user" javaType="com.waypost.waypost.entity.User">
            <id     property="userId"     column="c_user_id"/>
            <result property="username"   column="c_username"/>
            <result property="profileImg" column="c_profile_img"/>
        </association>
    </resultMap>

    <insert id="uploadPhotoPost" >
        insert into photo_post_tb
        values (
                0,
                #{userId},
                #{postText},
                #{imgUrl},
                #{cameraModel},
                #{locationAddress},
                #{latitude},
                #{longitude},
                ST_GeomFromText(CONCAT('POINT(', #{longitude}, ' ', #{latitude}, ')')),
                NOW(),
                NOW()
        )
    </insert>

    <select id="getPhotoPostList" parameterType="map" resultMap="PhotoPostResultMap">
        select
            p.photo_post_id,
            p.user_id,
            p.post_text,
            p.img_url,
            p.camera_model,
            p.location_address,
            p.latitude,
            p.longitude,
            p.reg_dt,
            p.upd_dt,
            u.email,
            u.username,
            u.profile_img,
            c.comment_id,
            c.photo_post_id,
            c.user_id,
            c.content,
            c.reg_dt,
            c.upd_dt,
            cu.username,
            cu.profile_img
        from
            photo_post_tb p
            left join user_tb u on p.user_id = u.user_id
            left join comment_tb c on p.photo_post_id = c.photo_post_id
            left join user_tb cu on c.user_id = cu.user_id
        where
            p.latitude  BETWEEN #{minLat} and #{maxLat}
            and p.longitude BETWEEN #{minLng} and #{maxLng}
    </select>

    <select id="getPhotoPostListByUserId" resultType="map" resultMap="PhotoPostResultMap">
        select
            p.photo_post_id,
            p.user_id,
            p.post_text,
            p.img_url,
            p.camera_model,
            p.location_address,
            <choose>
                <when test="currentUserId != null">
                    CASE
                    WHEN EXISTS(
                    SELECT 1
                    FROM photo_post_like_tb plt
                    WHERE plt.photo_post_id = p.photo_post_id
                    AND plt.user_id      = #{currentUserId}
                    ) THEN 1
                    ELSE 0
                    END AS is_liked,
                </when>
                <otherwise>
                    0 AS is_liked,
                </otherwise>
            </choose>
            (
            SELECT COUNT(*)
            FROM photo_post_like_tb pl
            WHERE pl.photo_post_id = p.photo_post_id
            ) AS like_count,
            p.latitude,
            p.longitude,
            p.reg_dt,
            p.upd_dt,
            u.email,
            u.username,
            u.profile_img,
            c.comment_id,
            c.photo_post_id,
            c.user_id,
            c.content,
            c.reg_dt,
            c.upd_dt,
            cu.username,
            cu.profile_img
        from
            photo_post_tb p
            left join user_tb u on p.user_id = u.user_id
            left join comment_tb c on p.photo_post_id = c.photo_post_id
            left join user_tb cu on c.user_id = cu.user_id
        where
            p.user_id = #{userId}
        order by
            p.reg_dt DESC
    </select>

    <insert id="addComment" >
        insert into comment_tb
        values (
            0,
            #{photoPostId},
            #{userId},
            #{content},
            now(),
            now()
        )
    </insert>

    <select id="getCommentsByPostIdAndUser" resultMap="CommentResultMap" parameterType="int">
        SELECT
            c.comment_id,
            c.photo_post_id,
            c.user_id     AS c_user_id,
            c.content,
            c.reg_dt,
            c.upd_dt,
            u.username    AS c_username,
            u.profile_img AS c_profile_img
        FROM
            comment_tb c
            JOIN user_tb u ON c.user_id = u.user_id
        WHERE
            c.photo_post_id = #{photoPostId}
        ORDER BY
            c.reg_dt ASC
    </select>

    <delete id="removePostByPhotoPostId" parameterType="int" >
        DELETE FROM
            photo_post_tb
        WHERE
            photo_post_id = #{photoPostId}
    </delete>
</mapper>